{% extends "layout.html" %}

{% block body %}
<h3>Change password:</h3>
{{ error }}
<form method="POST" action="{{ url_for('auth_change_password') }}">
      <table>
      <tr>
            <td>
            {{ form.old_password.label }}
            </td>
            <td>
            {{ form.old_password }}
            </td>
            <td>
                <ul>
                    {% for error in form.old_password.errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </ul>
            </td>
      </tr>
      <tr>
            <td>
                  {{ form.new_password.label }}
            </td>
            <td>
                  {{ form.new_password }}
            </td>
            <td>
                  <ul>
                        {% for error in form.new_password.errors %}
                        <div>{{ error }}</div>
                        {% endfor %}
                  </ul>
            </td>
      </tr>
      <tr>
            <td colspan="2">
                  <input type="submit" value="Change"/>
            </td>
      </tr>
</form>
{% endblock %}