{% extends "layout.html" %}

{% block body %}
<h2>{{ team.name }}</h2>
<table>
  <tr>
    <th>Members</th>
    <th>Points</th>
  </tr>
  {% for account in users %}
  <tr>
    <td>{{ account.name }}</td>
    <td>{{ account.score }}</td>
  </tr>
  {% endfor %}
</table>
{% if (user.account_id == team.creator) %}
<p><a href="{{ url_for('team_delete', teamid=user.team_id) }}">Delete team</a></p>
{% else %}
<p><a href="{{ url_for('team_quit', teamid=user.team_id) }}">Quit team</a></p>
{% endif %}
{% endblock %}