{% extends "layout.html" %}

{% block body %}

<h2>{{ team.name|e }}</h2>
<table>
  <tr>
    <th>Members</th>
    <th>Points</th>
  </tr>
  {% for account in users %}
  <tr>
    <th>{{ account.name|e }}</th>
    <th>{{ account.score }}</th>
  </tr>
  {% endfor %}
</table>

<h3>Team chat</h3>
<h5>Write comment</h5>
<form method="POST" action="{{ url_for('team_send_comment', teamid=user.team_id) }}">
  {{ form.text }}
  <div>
    <input type="submit" value="Send"/>
    {% for error in form.text.errors %}
    <span>{{ error }}</span>
    {% endfor %}
  </div>
</form>

<div class="comment_section">
  <div class="comment_navigation_area">
    {% if (page > 1) %}
    <p class="previous"><a href="{{ url_for_other_page(page - 1) }}">Previous page</a></p>
    {% endif %}
    {% if (count > page * 7) %}
    <p class="next"><a href="{{ url_for_other_page(page + 1) }}">Next page</a></p>
    {% endif %}
  </div>

  {% for comment in comments %}
  <div class="comment">
    <p class="comment_user">{{ comment.user|e }}</p>
    <span class="comment_text">{{ comment.text|e }}</span>
  </div>
  {% endfor %}

  {% if (user.account_id == team.creator) %}
  <p><a href="{{ url_for('team_delete', teamid=user.team_id) }}">Delete team</a></p>
  {% else %}
  <p><a href="{{ url_for('team_quit') }}">Quit team</a></p>
  {% endif %}
</div>

<style>
  th {
    padding: 10px;
    background-color: #464646;
  }
  table {
    padding-bottom: 40px;
  }
  form textarea#text {
    width: 680px;
    height: 150px;
  }
  .comment_section {
    width: 680px;
  }
  .comment_navigation_area {
    padding-bottom: 40px;
  }
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
  .comment {
    width: 680px;
    padding: 10px;
    padding-top: 0px;
    margin-top: 20px;
    background-color: #464646;
  }
  .comment_user {
    float: middle;
    padding: 5px;
  }
  .comment_text {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
</style>

{% endblock %}